.layout {
  margin: 0;
  font-family: Roboto, system-ui, sans-serif;
  width: 100%;
  max-width: calc(2rem + 1200px);
  margin: 0 auto;
  padding: 0 2rem;
}

.layout__body {
  display: flex;
  nav {
    flex: 1;
    max-width: 22%;
  }
  div {
    flex: 1;
  }
}
