.layout {
  margin: 0;
  font-family: Roboto, system-ui, sans-serif;
  width: 100%;
  max-width: calc(2rem + 1200px);
  margin: 0 auto;
  padding: 0 2rem;
}

.layout__body {
  display: flex;
  nav {
    flex: 1;
    max-width: 22%;
  }
  div {
    flex: 1;
  }
}

// :global(body) {
//   margin: 0;
//   font-family: Roboto, system-ui, sans-serif;
// }
// nav {
//   text-align: center;
// }
// ul {
//   display: flex;
//   justify-content: space-between;
// }
// nav > ul {
//   padding: 4px 16px;
// }
// li {
//   display: flex;
//   padding: 6px 8px;
// }
// a {
//   color: #067df7;
//   text-decoration: none;
//   font-size: 13px;
// }
